@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    text-align: center;
    min-height: 100vh;
    background-color: #222222;
    padding: 0px;
    margin: 0px;
}

.title {
    font-family: "Concert One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: #11ffff;
    margin: 0px;
    padding: 50px;
    text-shadow: 0 0 50px #00ffff;
}

.list-container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: flex-start;
    width: 100%;
    color: #bbbbbb;
    background-color: #222222;
    margin: 0px;
    border-radius: 8px;
}

.tree {
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #bbbbbb;
    background-color: #222222;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
}

.folder,
.file {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 5px 0;
    justify-content: space-between;
}

.folder .name::before {
    content: "📁";
    margin-right: 8px;
}

.folder:hover {
    padding: 2px 8px 2px 8px;
    background-color: #333333;
    border-radius: 8px;
    color: #00ffff;
}

.file .name::before {
    content: "📄";
    margin-right: 8px;
}

.file:hover {
    padding: 2px 10px 2px 10px;
    background-color: #333333;
    border-radius: 8px;
    color: #00ffff;
}

.download-link {
    margin-left: 8px;
    text-decoration: none;
    cursor: pointer;
}

.name {
    cursor: pointer;
}

.nested {
    display: none;
    padding-left: 20px;
}

.folder.open+.nested {
    display: block;
}

.logout-button {
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    background-color: #333333;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
}

.logout-button:hover {
    box-shadow: 0 0 4px 4px #00ffff;
}

.logout-button > img {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 12px;
}