<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Bridge</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/img/filebridge_favicon.png" type="image/x-icon">
    <script src="/static/script/runBeforLoad.js"></script>
    <script src="/static/script/runAfterLoad.js" defer></script>
</head>

<body>
    
    <div id="logout" class="logout-button">
        <img src="/static/img/logout_icon.svg" alt="logout_icon">
    </div>
    <h1 class="title">File Bridge</h1>
    <div id="folder-structure" class="list-container"></div>

</body>
</html>