<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Bridge - Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="shortcut icon" href="/static/img/filebridge_favicon.png" type="image/x-icon">
</head>

<body>

    <h1 class="title">File Bridge</h1>
    <div class="login-container">
        <form class="login-form" action="/token" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>

</body>

</html>